/*Стили верстки главного административного меню модуля*/
.card {
    transition: transform 0.2s;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: auto;
}
